<div class="menu">
  <h2>Menu</h2>
  <ul class="nav nav-pills">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tasks">Todo List</a>
    </li>
    <li class="active">
      <a href="/tasks/completed">Completed</a>
    </li>
  </ul>
</div>

<hr />

<div class="list">
  {{#if tasks}}
    {{#each tasks as |task index|}}
    <div class="item">
      <div class="num completed-task"><span>{{num index}}</span>.&nbsp;</div>
      <div class="name completed-task">
        {{task.name}}
        <span class="time">
          <small>(Completed at: {{dateFormat task.completeTime}})</small>
        </span>
      </div>
      <div class="delete">
        <a href="" class="btn btn-danger btn-xs task-delete" data-task-id="{{task._id}}" data-csrf="{{csrfToken}}">delete</a>
      </div>
    </div>
    {{/each}}
  {{else}}
  <div class="item">
    No tasks.
  </div>
  {{/if}}
</div>
