<div class="menu">
  <h2>Menu</h2>
  <ul class="nav nav-pills">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="active">
      <a href="/tasks">Todo List</a>
    </li>
    <li>
      <a href="/tasks/completed">Completed</a>
    </li>
  </ul>
</div>

<h1>{{title}}</h1>

<div class="list">
  <div class="item add-task">
    <form action="/tasks" method="POST">
      <input type="hidden" value="true" name="all_done">
      <input type="hidden" value="{{_csrf}}" name="_csrf">
      <button type="submit" class="btn btn-success btn-xs">all done</button>
    </form>
    <form action="/tasks" method="POST">
      <input type="hidden" value="{{_csrf}}" name="_csrf">
      <div class="name">
        <input type="text" name="name" placeholder="Add a new task">
      </div>
      <div class="delete">
        <button type="submit" class="btn btn-primary btn-sm">add</button>
      </div>
    </form>
  </div>
  {{#if tasks}}
    {{#each tasks as |task index|}}
    <div class="item">
      <div class="action">
      </div>
      <div class="num"><span>{{index}}</span>.&nbsp;</div>
      <div class="name">
        <span class="name">{{task.name}}</span>
      </div>
      <div class="delete">
        <a href="" class="btn btn-danger btn-xs task-delete" data-task-id="{{task._id}}.toString()">delete</a>
      </div>
    </div>
    {{/each}}
  {{else}}
  <div class="item">
    No tasks.
  </div>
  {{/if}}
</div>
