<div class="menu">
  <h2>Menu</h2>
  <ul class="nav nav-pills">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tasks">Todo List</a>
    </li>
    <li class="active">
      <a href="/tasks/completed">Completed</a>
    </li>
  </ul>
</div>

<h1>{{title}}</h1>

<div class="list">
  {{#if tasks}}
    {{#each tasks as |task index|}}
    <div class="item">
      <div class="num"><span>{{index}}</span>.&nbsp;</div>
      <div class="name completed-task">
        <span class="name">{{task.name}} <small>(Completed at: {{task.completeTime}})</small></span>
      </div>
    </div>
    {{/each}}
  {{else}}
  <div class="item">
    No tasks.
  </div>
  {{/if}}
</div>
