<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>

    <h1><%= menu %></h1>
    <p><%= menu %>의 본문 부분 입니다.</p>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
